// Grid
$row-width: 120rem !default;
$max-width: 80%;

//Colors
$black: #000;
$white: #fff;
$grey: #999;

//Typefaces
$arial: 'Arial', sans-serif;

//Font faces
//@include web-font('Nexa', '../fonts/', 'Nexa_Free_Bold-webfont');

//Font sizes
$text-small: 1.4rem;
$text-regular: 1.6rem;
$text-medium: 2.2rem;
$text-large: 3rem;
$text-xlarge: 4rem;

//Breakpoints
$small: 540px;
$medium: 768px;
$large: 1024px;
$x-large: 1280px;
$xx-large: 1600px;

//Spacing
$margin-default: 4rem;

//Global
$primary-font: $arial;
$primary-font-color: $black;
$primary-font-size: $text-regular;
$primary-font-weight: normal;
$primary-link-color: $black;

//Hamburger menu
$hamburger-color: $black;
$hamburger-background-color: red;
$hamburger-width: 30px;                // The width of the button area
$hamburger-height: 30px;               // The height of the button area
$hamburger-bar-thickness: 3px;         // The thickness of the button bars
$hamburger-bar-space: 4px;             // The spacing between button bars
$hamburger-pad: 5px;                     // The left/right padding between button area and bars.
$hamburger-transistion-duration: .3s;  // The transition duration
