<template>
    <div id="app">
        <img src="./assets/logo.png">
        <svg class="svg-icon">
          <use xlink:href="#icon-facebook"></use>
        </svg>
        <hello></hello>
    </div>
</template>

<script>
    var __svg__ = {
        path: './assets/svgs/**/*.svg',
        name: 'assets/svg/[hash].logos.svg'
    };

    require('webpack-svgstore-plugin/src/helpers/svgxhr')(__svg__);

    import Hello from './components/Hello'

    export default {
        name: 'app',
        components: {
            Hello
        }
    }
</script>

<style lang="sass">@import 'assets/sass/style.scss'</style>
